<!DOCTYPE html>
<html>
   <% if user_signed_in? %>
   <li class="item"><%= current_user.name %></li>
   <li class="item"><%= link_to '로그아웃',session_path(current_user), method:'delete'%></li>
   <% else %>
   <%= link_to '회원가입',new_user_path%>
   <%= link_to '로그인',new_session_path%>
   <% end %>
   
   
   <head>
      <title>DonggukGallery</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>
   
   <body>
      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
         <%= debug(params) if Rails.env.development? %>
      </div>
   </body>
   
</html>